.btn,
.vp-doc .btn {
    @apply inline-flex transition transition-all font-normal no-underline items-center;

    gap: .666em;
    border-radius: .25rem;

    font-family: Inter, sans-serif;

    --btn-color: white;
    --btn-color--hover: white;
    --btn-bg: var(--sw-c-blue-brand);
    --btn-bg--hover: var(--sw-c-blue-vivacious-700);

    color: var(--btn-color);
    background-color: var(--btn-bg);
    font-weight: 500;

    // size variations
    @apply text-sm px-6;
    --py: 0.875rem;

    /* prepare vars for bordered version */
    padding-top: calc(var(--py) - var(--border-w, 0px));
    padding-bottom: calc(var(--py) - var(--border-w, 0px));

    &:hover {
        color: var(--btn-color--hover);
        background-color: var(--btn-bg--hover);
        text-decoration: none;
    }
    &.--xs {
        --py: 0.5rem;
        @apply text-xs px-4;
    }
    &.--sm {
        --py: 0.625rem;
        @apply text-sm px-4;
    }
    &.--md {
        --py: 1rem;
        @apply text-md px-6;
    }
    &.--lg {
        --py: 1.25rem;
        @apply text-lg px-8;
    }
    &.--xl {
        --py: 1.5rem;
        @apply text-xl px-10;
    }

    // color variations
    &.--primary {
        --btn-bg: var(--sw-c-blue-vivacious-900);
    }

    &.--secondary {
        --btn-bg: var(--sw-c-blue-vivacious-50);
        --btn-bg--hover: var(--sw-c-blue-vivacious-100);
        --btn-color: var(--sw-c-blue-brand);
        --btn-color--hover: var(--sw-c-blue-brand);
        .dark & {
            --btn-bg: var(--sw-c-blue-dark-800);
            --btn-bg--hover: var(--sw-c-blue-dark-700);
            --btn-color: white;
            --btn-color--hover: white;
        }
    }

    &.--subtle {
        --btn-border: var(--sw-c-gray-500);
        --btn-bg: var(--sw-c-gray-100);
        --btn-bg--hover: var(--sw-c-gray-200);
        --btn-color: var(--sw-c-gray-dark-100);
        --btn-color--hover: var(--sw-c-gray-dark-200);
        .dark & {
            --btn-border: var(--sw-c-gray-dark-900);
            --btn-bg: var(--sw-c-gray-dark-600);
            --btn-bg--hover: var(--sw-c-gray-dark-500);
            --btn-color: white;
            --btn-color--hover: white;
        }
    }

    &.--subtle-2 {
        --btn-border: var(--sw-c-gray-600);
        --btn-bg: var(--sw-c-gray-200);
        --btn-bg--hover: var(--sw-c-gray-300);
        --btn-color: var(--sw-c-gray-dark-200);
        --btn-color--hover: var(--sw-c-gray-dark-300);
        .dark & {
            --btn-border: var(--sw-c-gray-dark-800);
            --btn-bg: var(--sw-c-gray-dark-500);
            --btn-bg--hover: var(--sw-c-gray-dark-400);
            --btn-color: white;
            --btn-color--hover: white;
        }
    }

    &.--transparent {
        --btn-bg: transparent;
        --btn-bg--hover: transparent;
        --btn-color: var(--sw-c-gray-dark-100);
        --btn-color--hover: var(--sw-c-gray-dark-200);
        .dark & {
            --btn-color: var(--sw-c-gray-100);
            --btn-color--hover: var(--sw-c-gray-200);
        }
    }

    &.--bordered {
        --border-w: 2px;
        color: var(--btn-bg);
        border: var(--border-w) var(--btn-bg) solid;
        background-color: inherit;
        line-height: calc(1.429em - 4px);
        transition: border-color ease-in-out;
        &:hover {
            color: var(--btn-bg--hover);
            border-color: var(--btn-bg--hover);
        }
    }

    &.--with-border {
        --border-w: 1px;
        border: var(--border-w) var(--btn-border) solid;
    }

    /* alternative button version */
    &.--compact {
        @apply rounded-md;
    }

    /* with icons */
    .SwagIcon {
        width: 1em;
        height: 1em;
    }
}

input[type="submit"] {
    @apply cursor-pointer;
}