.vt-doc.--similar-articles h2 {
    margin-top: 6rem;
    font-size: 20px;
}


.c-any-card,
.c-flat-card {
    @apply bg-#fff transition transition-all rounded-md overflow-hidden;
    @apply dark:border-#444;

    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 10%);
    .dark & {
        background-color: var(--sw-c-gray-dark-600);
    }
}

.c-any-card {
    @apply hover:shadow-lg hover:border-#e8e8e8;
    @apply hover:dark:border-#333;

    &:hover {
        box-shadow: 0 10px 32px -8px rgb(0 0 0 / 25%);
    }
    &:hover {
        .c-any-card_title {
            color: var(--c-link--hover)
        }
    }

    &_title {
        @apply font-normal;
        color: var(--sw-c-blue-vivacious);
        font-weight: 700;
    }

    &_description {
        @apply text-sm;
        font-size: 0.925rem;
        color: var(--c-text-light);
        font-weight: 300;
    }

    .dark & {
        &:hover {
            background-color: var(--sw-c-gray-dark-500);
        }
    }
}

.c-border-gradient {
    @apply position-relative;
    z-index: 1;
    overflow: visible;
    &::before {
        content: "";
        position: absolute;
        inset: -3px;
        background: linear-gradient(225deg, #bbe2ff, #0094ff);
        border-radius: inherit;
        background-clip: padding-box;
        z-index: -1;
    }
    &:hover {
        background: linear-gradient(225deg, #0094ff, #bbe2ff);
    }
    .--apply-bg {
        @apply bg-white;
        .dark & {
            background-color: var(--sw-c-gray-dark-750);
        }
    }
}

.text-subtle {
    color: var(--c-text-light);
}

.h-label {
    text-transform: capitalize;
    color: var(--sw-c-blue-vivacious);
    font-weight: 700;
    letter-spacing: 0.0625rem;

    & + .h-homepage {
        @apply mt-2;
    }
}

.h-homepage {
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.625rem;
    letter-spacing: 0.00625rem;

    & + * {
        @apply mt-7;
    }
}

.c-outflow {
    @apply position-relative;
    z-index: 1;
    overflow: visible;
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        left: -100vw;
        right: -100vw;
        top: 0;
        bottom: 0;
        background-color: var(--sw-c-gray-50);
        .dark & {
            background-color: var(--sw-c-gray-dark-700);
        }
    }
    &.--gradient {
        &::before {
            background-color: transparent;
            background: linear-gradient(180deg, transparent, rgba(126, 255, 247, .1) 75%);
        }
    }
    .dark &.--gradient {
        &::before {
            background: linear-gradient(180deg, transparent, rgba(126, 255, 247, .1) 75%);
        }
    }
}

.c-exposed {
    @apply rounded-xl;
    background-color: var(--sw-c-blue-vivacious-25);
    .dark & {
        background-color: var(--sw-c-gray-dark-800);
    }
}

.u-gradient-image {
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.accent {
    background: -webkit-linear-gradient(left, #017bff 15%, #01cfff, #017bff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.SwagContentMenu.grid {
    display: none;
}

main:has(.vp-doc > div > h1:only-child),
main:has(.vp-doc > div:empty) {
    & + footer .SwagContentMenu:not(:empty) {
        display: grid;
    }
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

main :not(.grid) > .PageRef {
    margin-bottom: 1.5rem;
    display: block;
}

.font-poppins {
    font-family: 'Poppins'
}

.VPNavBarMenu {
    margin-left: 4rem;
}

.dark .vp-doc > div > img,
.dark .vp-doc > div > p > img, {
    filter: invert(1) hue-rotate(-180deg);
}

hr {
    border-bottom-color: var(--c-text-light);
    border-top-color: transparent;
    border-left: none;
    border-right: none;
    opacity: .25;
}

.custom-block {
    --mask-image: url('/icons/regular/3d.svg');

    .custom-block-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5em;
    }

    .custom-block-title::before {
        background-color: currentColor;
        mask-image: var(--mask-image);
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: contain;
        content: '';
        display: block;
        width: 1.25em;
        height: 1.25em;
    }

    &.info .custom-block-title {
        --mask-image: url('/icons/regular/info-circle.svg');
    }

    &.tip .custom-block-title {
        --mask-image: url('/icons/regular/lightbulb.svg');
    }

    &.warning .custom-block-title {
        --mask-image: url('/icons/regular/exclamation-triangle.svg');
    }

    &.danger .custom-block-title {
        --mask-image: url('/icons/regular/times-circle.svg');
    }
}