/*@font-face {
    font-family: "HVD Fonts - BrandonText";
    src: url("../fonts/BrandonText-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "HVD Fonts - BrandonText";
    src: url("../fonts/BrandonText-MediumItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "HVD Fonts - BrandonText";
    src: url("../fonts/BrandonText-RegularItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "HVD Fonts - BrandonText";
    src: url("../fonts/BrandonText-Thin.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "HVD Fonts - BrandonText";
    src: url("../fonts/BrandonText-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "HVD Fonts - BrandonText";
    src: url("../fonts/BrandonText-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "HVD Fonts - BrandonText";
    src: url("../fonts/BrandonText-BlackItalic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "HVD Fonts - BrandonText";
    src: url("../fonts/BrandonText-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "HVD Fonts - BrandonText";
    src: url("../fonts/BrandonText-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "HVD Fonts - BrandonText";
    src: url("../fonts/BrandonText-ThinItalic.otf") format("opentype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "HVD Fonts - BrandonText";
    src: url("../fonts/BrandonText-LightItalic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "HVD Fonts - BrandonText";
    src: url("../fonts/BrandonText-Medium.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}*/

@font-face {
    font-family: "HVD Fonts - BrandonText";
    src: url("../fonts/Brandon-200.woff2") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "HVD Fonts - BrandonText";
    src: url("../fonts/Brandon-400.woff2") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "HVD Fonts - BrandonText";
    src: url("../fonts/Brandon-600.woff2") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "HVD Fonts - BrandonText";
    src: url("../fonts/Brandon-800.woff2") format("woff");
    font-weight: 800;
    font-style: normal;
}
