.form-control,
.hs-input {
  @apply border border-solid font-normal rounded-4px text-sm bg-white;
  color: var(--c-text-light);
  font-family: "HVD Fonts - BrandonText";
}

.form-control,
.hs-input {
  &textarea,
  &[type="text"],
  &[type="number"],
  &[type="email"] {
    @apply block w-full px-4 py-3.5;
  }
}

.hs-input[type="checkbox"],
.form-checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;

  @apply w-4.5 h-4.5 text-blue-600 rounded position-relative;
  @apply focus:ring-blue-500 focus:ring-2;
  @apply dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600;

  border: 1px solid var(--sw-c-gray-100);
  background-color: var(--sw-c-gray-100);

  &:checked {
    background-color: var(--sw-c-blue-vivacious-500);
    border-color: var(--sw-c-blue-vivacious-500);
    &::after {
      @apply position-absolute;
      inset: 0;
      content: '✓';
      color: white;
      line-height: 1.2rem;
      width: 100%;
      text-align: center;
    }
  }
}

.form-control,
.form-checkbox,
.hs-input[type="text"] {
  &:focus {
    border-color: var(--sw-c-blue-vivacious-500);
  }
}

// hubspot
ul.no-list,
ul.inputs-list {
  @apply list-none p-0;
}

.hs-form-booleancheckbox {
}
.hs-form-booleancheckbox-display {
  @apply flex items-center justify-start;
}
.hs-email {
  > label {
    @apply block;
    margin-bottom: .5rem;
  }
}
.hs-error-msg {
  color: red;
}