:root {
  --c-blue-brand: #3b8eed;

  --c-blue-dark: #142432;
  --c-blue-dark2: #213547;

  --c-white-100: #f5f7f9;
  --c-white-200: #d3dce4;

  --c-gray-50: #f8f8f8;
  --c-gray-100: rgba(226, 232, 240, 1);
  --c-gray-150: rgba(235, 235, 235, .6);
  --c-gray-200: rgba(160, 160, 160, .5);
  --c-gray-300: rgba(100, 100, 100, 1);
  --c-gray-500: rgba(60, 60, 60, .7);
  --c-gray-900: #1e1e20;

  --c-black-1000: #000;
}

:root {
  --sw-nav-bg: var(--c-blue-dark);
  --sw-sidebar-bg: var(--c-white-100);
  --sw-sidebar-border: var(--c-white-200);
  --sw-brand: var(--c-blue-brand);

  --vt-c-brand: var(--c-blue-brand);
  --vp-c-brand-dark: var(--sw-nav-bg);

  --vp-nav-bg-color: var(--sw-nav-bg);
  --vp-c-brand: var(--sw-brand);
  --vp-c-text-2: var(--c-gray-150);
  --vp-c-bg-alt: transparent;
  --vp-sidebar-bg-color: var(--sw-sidebar-bg);
  --vp-sidebar-bg-color--dark: transparent;
  --vp-nav-height: 80px;
  --vp-custom-block-info-text: var(--sw-nav-bg);

  --sidebar-link-color: var(--c-gray-500);
  --sidebar-link-color--dark: var(--vp-c-text-2);

  --sw-outline-link: rgba(60, 60, 60, .333);
  --sw-sidebar-link-color: var(--c-blue-dark2);
  --sw-sidebar-heading-color: var(--vp-c-text-1);
  --vp-c-divider: var(--vp-c-text-2);

  --c-text: var(--c-gray-500);
  --c-text-100: var(--c-gray-500);
  --c-link: var(--c-blue-brand);

  --vp-c-bg: var(--c-gray-50);
}

html.dark {
  --vp-sidebar-bg-color: var(--vp-sidebar-bg-color--dark);
  --sidebar-link-color: var(--sidebar-link-color--dark);
  --vp-c-text-1: var(--sidebar-link-color--dark);

  --sw-nav-bg: var(--vp-c-bg);
  --sw-sidebar-bg: var(--c-black-1000);
  --vp-sidebar-bg-color: var(--c-black-1000);

  --sw-sidebar-link-color: var(--c-gray-300);

  --sw-outline-link: var(--c-gray-300);
  --sw-sidebar-heading-color: var(--c-gray-300);
  --vp-c-divider: var(--c-gray-500);

  --vp-c-bg: var(--c-gray-900);
  --c-text: var(--c-gray-150);
}

.VPNav {
  --vp-c-text-1: #eee;

  .VPNavBarMenuLink,
  .VPNavBarMenuGroup .text {
    font-size: 13px;
    font-weight: 500;
  }

  .icon svg {
    fill: var(--vt-c-text-2);
  }
}

.VPContent {
  .quote {
    color: var(--c-text-100);
  }
}

.nav .VPSidebarItem {
  --vp-c-text-2: var(--vp-c-text-1);
  --vp-c-text-1: #213547;

  &.level-0 .text {
    text-transform: uppercase;
    line-height: 20px;
    font-size: 13px;
    font-weight: 600;
    color: var(--sw-sidebar-heading-color);
  }

  &.level-1 .text {
    color: var(--sidebar-link-color);
    text-transform: none;
    font-weight: 500;
  }
}

.VPNav {
  background-color: var(--sw-nav-bg);
}

.VPNavBar,
.VPSidebar {
  .curtain {
    display: none;
  }
}

.VPNavBar {
  .container > .title {
    display: flex;
  }
}

.VPNavBarMenuGroup {
  .title {
    color: var(--sw-sidebar-heading-color);
    font-size: 11px;
    text-transform: uppercase;
  }

  .link {
    color: var(--sw-sidebar-link-color);
    font-size: 13px;
    line-height: 26px;
    font-weight: normal;
  }
}

.VPDocAsideOutline {
  .outline-link {
    color: var(--sw-outline-link);
  }
}

.Layout .VPSidebar {
  padding-top: 1.5rem;
  padding-bottom: 0;
  margin-top: var(--vp-nav-height);
  border-right: 1px solid var(--sw-sidebar-border);
}

.vp-doc {
  h1 {
    font-size: 38px;
    line-height: 1.4;
    letter-spacing: -.02em;
  }
}

.VPDocFooter {
  .pager-link {
    border: none;

    .desc {
      color: rgba(60, 60, 60, .7);
    }
  }
}

.vp-doc a,
.prev-next a {
  color: var(--vp-c-brand);
  transition: color 0.25s;

  &:hover {
    text-decoration: none;
    color: var(--vp-c-brand-dark);
  }
}

.accent {
  background: -webkit-linear-gradient(left, #017bff 15%, #01cfff, #017bff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 1440px) {
 .VPDoc:not(.has-sidebar) {
   .container.container,
   .content.content {
     max-width: 100%;
   }
 }
}

@media (min-width: 960px) {
 .VPDoc:not(.has-sidebar) {
   .container.container,
   .content.content {
     max-width: 100%;
   }
 }
}

.VPContent {
  overflow-x: hidden;
}

.unstyled {
  .vp-doc & p {
    margin: 0 auto;
  }
}

.vp-doc h2.isolated {
  border-top: none;
}

.e-heading {
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;

  &::before {
    position: absolute;
    top: -2rem;
    left: 0;
    right: 0;
    height: 1px;
    content: '';
    display: block;
    background-color: var(--vp-c-divider);
  }
}

.as-link {
  color: var(--c-link);
}