@import './prism.css';

div[class*=language-] {
  @apply my-5 rounded-lg relative;
  background-color: #1e293b !important;
}

pre[class*=language-] {
  @apply  overflow-hidden p-8 text-[0.9375rem] relative z-10 leading-6;
  background: transparent;
}

.highlight-lines {
  @apply pt-2 select-none absolute top-0 left-0 w-full leading-6 text-[0.9375rem];
}

.highlight-lines .highlighted {
  background-color: rgba(15, 20, 30, .66);
}