@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@800&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  color: #333;
  font-family: 'Inter', sans-serif;
}

a {
  color: #189eff;
  text-decoration: none;
}

code span {
  font-family: var(--vt-font-family-mono);
}

/* Fixing empty space at top of code blocks */
span.lang {
  display: none;
}

/* Start API Reference Styles */

div > .sl-text-5xl {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
   background: -webkit-linear-gradient(left, #017bff 15%, #01cfff, #017bff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.4rem;
  margin-bottom: 40px;
}

.sl-elements-api .sl-bg-canvas-100 {
  background-color: #f5f7f9;
}

.sl-elements-api .sl-bg-primary-tint {
  background-color: #f5f7f9;
  color: #189eff;
  font-weight: 500;
}

/* End API Reference Styles */
