body {
  font-family: "Inter", sans-serif;
  @apply bg-shopware-gray-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold text-slate-300;
}

h1 {
  @apply text-3xl pt-2 pb-1 my-6;
}

h2 {
  @apply text-2xl pt-2 pb-1 my-5 border-b;
}

h3 {
  @apply text-xl pt-2 pb-1 my-4;
}

h4 {
  @apply text-lg pt-2 pb-1 my-3;
}

h5 {
  @apply pt-2 pb-1 my-2;
}

p {
  @apply leading-7 py-1 my-1;
}

ul {
  @apply list-disc pl-5 py-1 my-1;
}

ul ul {
  @apply py-0 my-0;
}

p,
ol,
ul {
  @apply leading-7 text-slate-800 break-words;
}

p code,
ol code,
ul code {
  @apply bg-slate-100 text-slate-800 p-1 text-sm rounded-md;
}

main a {
  @apply text-shopware no-underline;
}

main a:hover {
  @apply underline;
}

.header-anchor {
  font-size: 0.85em;
  margin-left: -0.87em;
  padding-right: 0.23em;
  margin-top: 0.125em;
  @apply float-left opacity-0 text-shopware;
}

.header-anchor:hover {
  @apply underline;
}

*:hover > .header-anchor {
  @apply opacity-100;
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
  @apply text-slate-800;
}

tr {
  @apply border-t border-gray-200;
}

tr:nth-child(2n) {
  @apply bg-gray-100;
}

td,
th {
  @apply border border-gray-200;
  padding: 0.6em 1em;
}

/* Custom Block Styling */

.custom-block {
  @apply px-5 py-2 my-4 border-l-8 border-slate-200 bg-slate-100 rounded-lg text-sm;
}

.custom-block-title {
  @apply font-semibold;
}

.custom-block p > code {
  @apply bg-slate-200;
}

.custom-block > summary {
  @apply my-3 text-base;
}
