@import "./markdown.css";
@import "./content.css";
@import "./dark.css";
@import "./highlight.css";

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(122, 184, 239);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

html.dark #nprogress .bar {
  background: rgb(0, 87, 179);
}
